*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(https://images.pexels.com/photos/948185/pexels-photo-948185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(75px);
    filter: blur(75px);
}

.background {
    position: absolute;
    width: 40vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.background .image {
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(https://images.pexels.com/photos/1721097/pexels-photo-1721097.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/1721097/pexels-photo-1721097.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    top: 0;
    left: 0;
}

.background svg rect {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 0.5rem;
    stroke: rgba(255, 255, 255, 0.7);
}
section {
    position: absolute;
    width: 40vw;
    height: 90vh;
    padding: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 40% 40% 10%;
    grid-template-rows: 5% 35% 50% 10%;
    -webkit-box-align: center;
    align-items: center;
}
p {
    font-size: 1.2rem;
    font-family: 'Courier Prime', monospace;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.couple-name{
    line-height: 1;
    font-size: 3rem;
    font-family:'Dancing Script', cursive;
    font-style: italic;
}

.timer{
    color:whitesmoke;
    font-family:'Indie Flower', cursive;
    font-size: 2rem;
    border: 2px solid white;
    box-shadow:0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.5);

}

@media screen and (max-width: 600px) {
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    }

    .background .border {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 2rem;
        top: 0;
        left: 0;    
    }

    .background svg rect {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 0.5rem;
        stroke: rgba(255, 255, 255, 0.7);
    }
    html {
        font-size: 65%;
    }

    section {
        position: absolute;
        width: 85vw;
        height: 90vh;
        padding: 4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 10% 40% 40% 10%;
        grid-template-rows: 5% 35% 50% 10%;
        -webkit-box-align: center;
        align-items: center;
    }

    

  }
  