body {
    text-align: center;
    background: whitesmoke;
    color: white;
  }
  .card__container {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 1400px;
    transition: all 0.2s ease;
  }

  .couple-name{
    line-height: 1;
    font-size: 1.9rem;
    font-family:'Dancing Script', cursive;
    font-style: italic;
    color:white;
}

.timer{
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: #D21518;
    font-size: 1.5rem;
}

p {
    /* font-family: 'Courier Prime', monospace; */
    font-family: 'Redressed', cursive;
}

.support-text{
    padding: 5%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 0.7rem;
}

.work-area{
    width: 85%;
    width: auto;
}

.main-text{
    font-size: 0.8rem;
    font-family: 'Redressed', cursive;
}
 
  @media (min-width: 768px) {
    .open .card__container {
      transform: translate(0%, -50%);
    }

    .couple-name{
        line-height: 1;
        font-size: 2.5rem;
        font-family:'Dancing Script', cursive;
        font-style: italic;
        color:white;
    }

    .timer{
        width: 95%;
        font-size: 1.5rem;
    }
    .main-text{
        font-size: 1rem;
    }

    .support-text{
        font-size: 1rem;
    }
  }
  .card {
    max-width: 400px;
    max-height: 600px;
    width: 80vw;
    height: 120vw;
    transform-style: preserve-3d;
    transform: rotateX(65deg);
    transition: all 1s ease;
  }
  .open .card {
    transform: rotateX(0deg);
  }
  .card__panel {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 1s ease;
    backface-visibility: visible;
    transform-origin: left;
    transform-style: preserve-3D;
    transform: rotate3d(0, 1, 0, 0deg);
  }
  .card__panel--front {
    backface-visibility: hidden;
    background-image: url(./—Pngtree—chinese\ style\ wedding\ invitation\ card_953441.jpg);
    background-size: cover;
    font-size:1.4rem;
    color: #fff;
    z-index: 1;
  }
  .open .card__panel--front {
    transform: rotate3d(0, 1, 0, -170deg);
  }
  .card__panel--inside-left {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url(./5b98de108d2db.png);
    background-size: cover;
    z-index: 0;
  }
  .open .card__panel--inside-left {
    transform: rotate3d(0, 1, 0, -170deg);
  }
  .card__panel--inside-right {
    border-left: none;
    background: #fff;
    background-image: url(./5b98de108d2db.png);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: -1;
  }